/*
 * Globals
 */

/* Links */
 input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #6c757d inset !important;
    -webkit-text-fill-color: #fff !important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

/* .cover-container {
  max-width: 45em;
} */


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

/* .nav-masthead .nav-link + .nav-link {
   margin-left: 1rem; 
} */

.nav-link{
  margin: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* @media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
} */


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


.searchboxcontainer {
  max-width: 37em;
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.searchtext,
.searchbuttonwrapper {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.alerjens{
  /* add relativemargin to bottom */
  padding: 1rem 20px;
  margin-top: -4em;

}

.cover-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  /* text-align: left; */
  /* text-decoration: underline; */
  margin-bottom: 5rem;



}

.lead{
  font-family: monospace;
}
/* 
  This are for the search box until line 267
*/
#qwe {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 20px;
  margin: -50px auto 0 auto;
  background-color: #6c757d;
  border-radius: 20px;
  box-shadow: 0 10px 40px #6c757d, 0 0 0 20px #ffffffeb;
  transform: scale(0.5);
}

.searchform {
  height: 96px;
}

.searchtext {
  width: 100%;
  height: 96px;
  font-size: 50px;
  line-height: 1;
  outline: none;
  caret-color: auto;
  font-family: sans-serif;  
} 

.searchtext::placeholder {
  color: #fff;
  opacity: 0.3;
  font-family: monospace;
}

#s-qwe {
  width: 1px;
  padding-left: 35px;
}

.searchbuttonwrapper {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -15px;
  left: 17px;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.searchbuttonwrapper span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.searchbuttonwrapper span:before,
.searchbuttonwrapper span:after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-qwe:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-qwe:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-qwe:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-qwe:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-qwe:hover button span:before,
#s-qwe:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}
