{% extends "base.html" %} {% block title %} Allergen Detector {% endblock %} {% block content %}



<h2>Alerjen Ekle</h2>
<form action="/admin/addallergen" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="allergenname" placeholder="Alerjen Adı">
        <input class="form-control" type="submit" value="Ekle">
    </div>
</form>
<br/>
<h2>Alerjen Sil</h2>
<form action="/admin/deleteallergen" method="POST">
    <div class="form-group">
    <select id="deleteAllergenPick" class="form-control" name="allergenid">
        {% for allergen in allAllergens.values %}
            <option value="{{ allergen[0] }}">id:{{ allergen[0] }} - {{ allergen[1] }}</option>
        {% endfor %}
    </select>
    <input class="form-control" type="submit" value="Sil">
    </div>
</form>
<br/>
<h2>Ürün Ekle</h2>
<form action="/admin/addproduct" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="productname" placeholder="Ürün Adı">
        <input class="form-control" type="text" name="brand" placeholder="Marka">
        <input class="form-control" type="text" name="productbarcode" placeholder="Ürün Barkodu">
        <!-- <label for="addProdAllergenPick">Alerjenler</label> -->
        <!-- <select id="addProdAllergenPick" class="form-control" multiple name="allergenid">
        {% for allergen in allAllergens.values %}
            <option value="{{ allergen[0] }}">{{ allergen[1] }}</option>
        {% endfor %}
    </select> -->

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Alerjenler
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for allergen in allAllergens.values %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ allergen[1] }}" value=""
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ allergen[1] }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Besin Değerleri
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <input class="form-control" type="text" name="fat" placeholder="Yağ">
                        <input class="form-control" type="text" name="protein" placeholder="Protein">
                        <input class="form-control" type="text" name="carbs" placeholder="Karbonhidrat">
                        <input class="form-control" type="text" name="calorie" placeholder="Kalori">
                        <input class="form-control" type="text" name="weightvolume" placeholder="Ağırlık/Volüm">
                        <input class="form-control" type="text" name="ingredients" placeholder="İçerik">
                    </div>
                </div>
            </div>

        </div>






        <input class="form-control" type="submit" value="Ekle">
    </div>
</form>
</br>
<h2>Ürün Güncelle</h2>
<form action="/admin/updateProductScreen" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="barkod" placeholder="Ürün Barkodu">
        <input class="form-control" type="submit" value="Düzenle">
    </div>
    <br/>
</form>
<h2>Ürün Sil</h2>
<form action="/admin/deletesearch" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="barkod" placeholder="Ürün Barkodu">
        <input class="form-control" type="submit" value="Ara">
    </div>
    <br/>
</form>

    {% endblock %}