<!-- 
    Created on : 2017-10-10, 11:00:00
    Author     : Gökalp Coşgun & İsmail Buğra Öz

    Now create a template for the index page. It will contain a search bar.
    The search bar will be a form with a numerical input and a submit button.
 -->
 {% extends "base.html" %} {% block title %} Allergen Detector {% endblock %}  {% block content %}

 <div class="searchboxcontainer">


    <div class="alerjens">
      <!-- <h1 class="cover-heading">Alerjenleri Bul</h1> -->
      <p class="lead">Aradığın ürünün ismini aşağıya girerek içerisindeki alerjen maddeleri kolaylıkla bulabilirsin!
      </p>
    </div>
    <!-- <form class="lead" action="/search" method="POST">
      <input type="text" name="search" placeholder="Barkod No">
      <input class="btn btn-lg btn-secondary" type="submit" value="Ara">
  </form> -->
  
  
    <div id="qwe">
      <form class="searchform action="/searchName" method="POST">
        <div class="tb">
          <div class="td">
            <input type="text" name="searchName" placeholder="Ürün adı" class="searchtext" required></div>
          <div class="td" id="s-qwe">
            <button class="searchbuttonwrapper" type="submit">
              <div class="searchbutton">
              <div id="s-circle"></div>
              <span></span>
            </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  
  </div>
 
 
 {% endblock %}