{% extends "base.html" %} {% block title %} Allergen Detector {% endblock %}  {% block content %}


<h1 class="cover-heading">{{ current_user.personname }} {{ current_user.personsurname }}</h1>

<h2>Alerjilerim:</h2>

<form action="/profile/updateallergens" method="POST">
    <div class="form-group">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Alerjenler
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for allergen in allAllergens.values %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ allergen[1] }}" value="" {% if allergen[1] in current_user.allergens %} checked {% endif %} id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ allergen[1] }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>






        <input class="form-control" type="submit" value="Güncelle">
    </div>
</form>
    
    {% endblock %}