<!-- 
    Created on : 2017-10-10, 11:00:00
    Author     : Gökalp Coşgun & İsmail Buğra Öz

    Now create a template for the index page. It will contain a search bar.
    The search bar will be a form with a numerical input and a submit button.
 -->
 {% extends "base.html" %} {% block title %} Allergen Detector {% endblock %} {% block content %}


 <h1 class="cover-heading">{{ brand }}</h1>
 <h2>{{ foodname }}</h2>
 
 <h2>İçerdiği Alerjenler</h2>
 <ul class="list-group">
         {% for allergen in allergens %}
         <li class="list-group-item d-flex justify-content-between align-items-center {% if allergen in current_user.allergens %} list-group-item-danger {% endif %}">{{ allergen }}</li>
         {% endfor %}
 </ul>
 
 
 </br>
 
 <h2>Ürün Bilgileri</h2>
 
 <ul class="list-group">
 
 
         <li class="list-group-item d-flex justify-content-between align-items-center">Ürün yağ miktarı: <span>{{ fat
                         }}</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center">Ürün enerji değeri: <span>{{
                         calorie }}</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center">Ürün protein değeri: <span>{{
                         protein }}</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center">Ürün karbonhidrat değeri: <span>{{
                         carbs }}</span></li>
 
         <div class="accordion" id="accordionExample">
                 <div class="accordion-item">
                         <h2 class="accordion-header" id="headingOne">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                         data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                         İçindekiler
                                 </button>
                         </h2>
                         <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                         <p style="text-align:justify; font: 0.8em sans-serif;"
                                         >{{ ingredients }}</p>
                                 </div>
                         </div>
                 </div>
         </div>
 
         <li class="list-group-item d-flex justify-content-between align-items-center">Ürün miktarı: <span>{{
                         weightvolume }}</span></li>
 </ul>
 
 
 
 {% endblock %}